@import 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global variables. */
:root {
  /* If a below css var needs to be deleted or renamed, first search the codebase where that css var may be hardcoded and update accordingly */

  /* Css variable colors */
  --background: #ffffff;
  --text: #000000;
  --border: #e8e8e8;

  --primary: #008464;
  --secondary: #8164bf;
  --accent1: #189cc5;
  --accent2: #4a69d4;

  --black: #000000;
  --off-black: #101010;
  --dark-gray: #484848;
  --medium-dark-gray: #707070;
  --medium-gray: #989898;
  --gray: #c0c0c0;
  --light-gray: #e8e8e8;
  --off-white: #f9f9f9;
  --white: #ffffff;

  --primary-btn-bg-color: #008464;
  --primary-btn-border-color: #008464;
  --primary-btn-text-color: #ffffff;
  --primary-btn-hover-bg-color: #00694f;
  --primary-btn-hover-border-color: #00694f;
  --primary-btn-hover-text-color: #ffffff;

  --secondary-btn-bg-color: #ffffff;
  --secondary-btn-border-color: #ffffff;
  --secondary-btn-text-color: #008464;
  --secondary-btn-hover-bg-color: #008464;
  --secondary-btn-hover-border-color: #008464;
  --secondary-btn-hover-text-color: #ffffff;

  --inverse-light-btn-bg-color: transparent;
  --inverse-light-btn-border-color: #ffffff;
  --inverse-light-btn-text-color: #ffffff;
  --inverse-light-btn-hover-bg-color: #ffffff;
  --inverse-light-btn-hover-border-color: #ffffff;
  --inverse-light-btn-hover-text-color: #000000;

  --inverse-dark-btn-bg-color: transparent;
  --inverse-dark-btn-border-color: #000000;
  --inverse-dark-btn-text-color: #000000;
  --inverse-dark-btn-hover-bg-color: #000000;
  --inverse-dark-btn-hover-border-color: #000000;
  --inverse-dark-btn-hover-text-color: #ffffff;

  /* Breakpoints */
  --xs: 480px;
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;

  /* Constants */
  --header-height-mobile: 4.5rem;
  --header-height-desktop: 4.5rem;
  --promobar-height-mobile: 3rem; /* Ensure this is equivalent to PROMOBAR_HEIGHT_MOBILE in /lib/constants.ts */
  --promobar-height-desktop: 3rem; /* Ensure this is equivalent to PROMOBAR_HEIGHT_DESKTOP in /lib/constants.ts */
  --drawer-width: 23.5rem;
  --content-max-width: 96rem;
  /* Ensure updating this ratio as needed.  */
  --product-image-aspect-ratio: 3 / 4; /* Ensure this is equivalent to PRODUCT_IMAGE_ASPECT_RATIO in /lib/constants.ts */
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    @apply flex min-h-full w-full flex-col scroll-auto font-sans;
  }

  body {
    @apply text-body m-0 flex min-h-[var(--viewport-height)] w-full flex-col bg-background text-text;
  }

  main {
    @apply flex-1;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  h6 {
    @apply text-h6;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  /* text specific */
  .text-h1 {
    @apply overflow-anywhere
      font-heading
      text-4xl
      font-bold
      md:text-5xl
      xl:text-6xl;
  }
  .text-h2 {
    @apply overflow-anywhere
      font-heading
      text-3xl
      font-bold
      md:text-4xl
      xl:text-5xl;
  }
  .text-h3 {
    @apply overflow-anywhere
      font-heading
      text-2xl
      font-bold
      md:text-3xl
      xl:text-4xl;
  }
  .text-h4 {
    @apply overflow-anywhere
      font-heading
      text-xl
      font-bold
      md:text-2xl
      xl:text-3xl;
  }
  .text-h5 {
    @apply overflow-anywhere
      font-heading
      text-base
      font-bold
      md:text-lg;
  }
  .text-h6 {
    @apply overflow-anywhere
      font-heading
      text-sm
      font-bold;
  }
  .text-body {
    @apply font-sans
      text-base
      font-normal;
  }
  .text-body-sm {
    @apply font-sans
      text-xs
      font-normal;
  }
  .text-body-lg {
    @apply font-sans
      text-lg
      font-normal;
  }
  .text-link {
    @apply text-body
      font-bold
      uppercase
      underline;
  }
  .text-link-sm {
    @apply text-link
      text-xs
      underline-offset-4;
  }
  .text-caption {
    @apply font-sans
      text-sm
      font-bold
      uppercase;
  }
  .text-label {
    @apply font-sans
      text-xs
      font-normal
      uppercase
      tracking-wide;
  }
  .text-label-sm {
    @apply font-sans
      text-2xs
      font-normal
      uppercase
      tracking-wide;
  }
  .text-nav {
    @apply font-sans
      text-sm
      font-bold
      uppercase
      tracking-wide;
  }
  .text-superheading {
    @apply font-sans
      text-xs
      font-normal
      uppercase
      tracking-wide
      lg:text-sm;
  }
  /* button specific */
  .btn-text {
    @apply font-sans
      text-base
      font-bold
      uppercase
      tracking-wider;
  }
  .btn {
    @apply btn-text
      relative
      m-0
      inline-flex
      h-[3.125rem]
      items-center
      justify-center
      overflow-hidden
      whitespace-nowrap
      rounded
      border
      border-solid
      px-5
      py-3
      text-center
      transition-colors
      disabled:cursor-not-allowed
      disabled:border-border
      disabled:bg-lightGray
      disabled:text-mediumDarkGray
      disabled:hover:border-border
      disabled:hover:bg-lightGray
      disabled:hover:text-mediumDarkGray
      [&>p]:truncate;
  }
  .btn-primary {
    @apply btn
      border-[var(--primary-btn-border-color)]
      bg-[var(--primary-btn-bg-color)]
      text-[var(--primary-btn-text-color)]
      md:hover:border-[var(--primary-btn-hover-border-color)]
      md:hover:bg-[var(--primary-btn-hover-bg-color)]
      md:hover:text-[var(--primary-btn-hover-text-color)];
  }
  .btn-secondary {
    @apply btn
      border-[var(--secondary-btn-border-color)]
      bg-[var(--secondary-btn-bg-color)]
      text-[var(--secondary-btn-text-color)]
      md:hover:border-[var(--secondary-btn-hover-border-color)]
      md:hover:bg-[var(--secondary-btn-hover-bg-color)]
      md:hover:text-[var(--secondary-btn-hover-text-color)];
  }
  .btn-inverse-light {
    @apply btn
      border-[var(--inverse-light-btn-border-color)]
      bg-[var(--inverse-light-btn-bg-color)]
      text-[var(--inverse-light-btn-text-color)]
      md:hover:border-[var(--inverse-light-btn-hover-border-color)]
      md:hover:bg-[var(--inverse-light-btn-hover-bg-color)]
      md:hover:text-[var(--inverse-light-btn-hover-text-color)];
  }
  .btn-inverse-dark {
    @apply btn
      border-[var(--inverse-dark-btn-border-color)]
      bg-[var(--inverse-dark-btn-bg-color)]
      text-[var(--inverse-dark-btn-text-color)]
      md:hover:border-[var(--inverse-dark-btn-hover-border-color)]
      md:hover:bg-[var(--inverse-dark-btn-hover-bg-color)]
      md:hover:text-[var(--inverse-dark-btn-hover-text-color)];
  }
  .btn-pill {
    @apply relative flex h-12 items-center justify-center overflow-hidden rounded-full border border-border bg-white px-5 py-3 text-base text-sm text-text transition md:hover:bg-offWhite;
  }
  /* underline specific */
  .hover-text-underline {
    @apply relative
      inline
      bg-[linear-gradient(currentColor,currentColor)]
      bg-[length:0%_1px]
      bg-left-bottom
      bg-no-repeat
      transition-[background-size]
      duration-200
      focus:bg-[length:100%_1px]
      md:hover:bg-[length:100%_1px];
  }
  .text-underline {
    @apply relative
      inline
      bg-[linear-gradient(currentColor,currentColor)]
      bg-[length:100%_1px]
      bg-right-bottom
      bg-no-repeat
      transition-[background-size]
      duration-200
      focus:bg-[length:0%_1px]
      md:hover:bg-[length:0%_1px];
  }
  .text-main-underline {
    @apply relative
      inline
      bg-[linear-gradient(currentColor,currentColor)]
      bg-[length:100%_2px]
      bg-right-bottom
      bg-no-repeat
      pb-px
      transition-[background-size]
      duration-200
      focus:bg-[length:0%_2px]
      md:hover:bg-[length:0%_2px];
  }
  /* inputs specific */
  .input-text {
    @apply h-12
      w-full
      rounded-full
      border
      border-border
      px-5
      py-2.5
      text-base;
  }
  .input-label {
    @apply block
      pb-1
      pl-5
      font-sans
      text-sm
      font-bold;
  }
  /* swiper specific */
  .swiper-wrapper-center .swiper-wrapper {
    @apply flex
      items-center;
  }
  .swiper-offset-gradient-270-left {
    background: linear-gradient(
      270deg,
      var(--background) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply pointer-events-none absolute bottom-0 left-[-8px] top-0 z-10 h-full w-[5.9375rem] -rotate-180 opacity-[60] lg:w-[8.125rem];
  }
  .swiper-offset-gradient-270-right {
    background: linear-gradient(
      270deg,
      var(--background) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply pointer-events-none absolute bottom-0 right-[-8px] top-0 z-10 h-full w-[5.9375rem] opacity-[60] lg:w-[8.125rem];
  }
  .active-bullet-black .swiper-pagination-bullet-active {
    @apply bg-black;
  }
  .loading-shimmer {
    @apply pointer-events-none absolute inset-0 -translate-x-full animate-[shimmer_1.5s_infinite] bg-gradient-to-r from-transparent via-lightGray to-transparent;
  }
  /* multi-range slider style */
  .range-thumb {
    @apply pointer-events-none absolute h-0 w-full;
  }
  .range-thumb,
  .range-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  /* For Chrome browsers */
  .range-thumb::-webkit-slider-thumb {
    @apply pointer-events-auto relative mt-[4px] h-3 w-3 cursor-pointer rounded-full border-none bg-offWhite shadow-[0_0_1px_1px_#ced4da];
  }
  /* For Firefox browsers */
  .range-thumb::-moz-range-thumb {
    @apply pointer-events-auto relative mt-[4px] h-3 w-3 cursor-pointer rounded-full border-none bg-offWhite shadow-[0_0_1px_1px_#ced4da];
  }
}

@layer utilities {
  /* hide scrollbar */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* horizontal padding */
  .px-contained {
    @apply px-4
      md:px-8
      xl:px-12;
  }
  /* vertical padding */
  .py-contained {
    @apply py-8
      md:py-10
      xl:py-12;
  }
  .overflow-anywhere {
    overflow-wrap: anywhere;
  }
  .media-fill {
    @apply absolute
      left-1/2
      top-1/2
      h-full
      w-full
      -translate-x-1/2
      -translate-y-1/2
      object-cover;
  }
}
