:root[data-theme='blue'] {
  --primary: #2563eb;
  --secondary: #3b82f6;
  --accent1: #60a5fa;
  --accent2: #1d4ed8;

  --primary-btn-bg-color: #2563eb;
  --primary-btn-border-color: #2563eb;
  --primary-btn-text-color: #ffffff;
  --primary-btn-hover-bg-color: #1d4ed8;
  --primary-btn-hover-border-color: #1d4ed8;
  --primary-btn-hover-text-color: #ffffff;

  --secondary-btn-bg-color: #ffffff;
  --secondary-btn-border-color: #ffffff;
  --secondary-btn-text-color: #2563eb;
  --secondary-btn-hover-bg-color: #2563eb;
  --secondary-btn-hover-border-color: #2563eb;
  --secondary-btn-hover-text-color: #ffffff;

  --inverse-light-btn-bg-color: transparent;
  --inverse-light-btn-border-color: #3b82f6;
  --inverse-light-btn-text-color: #3b82f6;
  --inverse-light-btn-hover-bg-color: #3b82f6;
  --inverse-light-btn-hover-border-color: #3b82f6;
  --inverse-light-btn-hover-text-color: #ffffff;

  --inverse-dark-btn-bg-color: transparent;
  --inverse-dark-btn-border-color: #2563eb;
  --inverse-dark-btn-text-color: #2563eb;
  --inverse-dark-btn-hover-bg-color: #2563eb;
  --inverse-dark-btn-hover-border-color: #2563eb;
  --inverse-dark-btn-hover-text-color: #ffffff;
}
